<footer class="site-footer">
	<div class="site-footer__inner">
		<div>
			<p class="site-footer__heading">Contact</p>
			<p class="site-footer__text">4-6 Upper Cres, Belfast BT7 1NT</p>
			<p class="site-footer__text">028 9057 1100</p>
			<p class="site-footer__text"><a href="mailto:careers@kainos.com" class="site-footer__link">careers@kainos.com</a></p>
			<p class="site-footer__meta">Copyright © 2023 Kainos. Registered in NI NI020220</p>
		</div>
	</div>
</footer>
