<header class="site-header" role="banner">
  <div class="site-header__bar"></div>
  <div class="site-header__inner">
    <a class="brand" href="/" aria-label="Kainos job roles home">
      <img
        class="brand__logo"
        src="/assets/logos/kainos-logo.png"
        alt="Kainos"
      >
    </a>
  </div>
</header>